{% extends 'master.html' %}
{%block 'content'%}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Add Form</h1>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Employee Attandance Form</h5>

              <!-- Horizontal Form -->
              <form action="/empattendsave/" method="post">
                {% csrf_token %}
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-2 col-form-label" type="d"> Start Time</label>
                  <div class="col-sm-10">
                    <input type="datetime-local" class="form-control" name="stime" id="inputText" required>
                  </div>
                </div>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">End Time</label>
                    <div class="col-sm-10">
                      <input type="datetime-local" class="form-control" name="etime" id="inputText" required>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Employee Name</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="eid" required>
                            {% for employee in employees%}
                            <option value="{{employee.e_id}}">{{employee.e_name}}</option>
                            {%endfor%}
                        </select>
                        <!-- <input type="number" class="form-control" name="econtect" id="inputText" required> -->
                    </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </form><!-- End Horizontal Form -->

            </div>
          </div>

        </div>

        
      </div>
    </section>

  </main><!-- End #main -->
  {%endblock%}