{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Monalika Saloon</title>
	<link rel="stylesheet" href="{% static 'logincss.css' %}">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" action="/login/">
        {% csrf_token %}
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password">

        <button>Log In</button>
    
    </form>
</body>
</html>