{% extends 'master.html' %}
{%block 'content'%}
<main id="main" class="main">

    <div class="pagetitle">
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Employee </h5>

              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Eamil</th>
                    <th scope="col">Password</th>
                    <th scope="col">Address</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Image</th>
                    <th scope="col">Options</th>
                  </tr>
                </thead>
                <tbody>
                  {% for employee in employees%}
                    <tr>
                      <td>{{employee.e_id}}</td>
                      <td>{{employee.e_name}}</td>
                      <td>{{employee.e_gender}}</td>
                      <td>{{employee.e_contact}}</td>
                      <td>{{employee.e_eamil}}</td>
                      <td>{{employee.e_password}}</td>
                      <td>{{employee.e_address}}</td>
                      <td>{{employee.e_salary}}</td>
                      <td><img src="{{employee.e_image}}" width="100px"></td>
                      <td><a href="/employeedel/{{employee.e_id}}/">Delete</a> <a href="/employeeedit/{{employee.e_id}}/">Edit</a></td>
                      </tr>
                  {%endfor%}
    
                </tbody>
              </table>
              <div >
                <button type="submit" ><a href="/empadd/">Add</a></button>
              </div>
              <!-- End Default Table Example -->
            </div>
          </div>

          
        </div>

        
      </div>
    </section>

  </main><!-- End #main -->
{%endblock%}